absl-py==2.2.2
annotated-types==0.7.0
anyio==4.12.1
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
async-lru==2.1.0
attrs==25.4.0
babel==2.18.0
beautifulsoup4==4.13.3
bleach==6.3.0
blinker==1.9.0
blis==1.3.3
catalogue==2.0.10
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.1
click==8.3.1
cloudpathlib==0.23.0
cloudpickle==3.1.2
comm==0.2.2
confection==0.1.5
contourpy==1.3.1
cybotrade-datasource==0.1.2
cycler==0.12.1
cymem==2.0.13
dask==2026.1.2
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
distributed==2026.1.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.2.0
fastjsonschema==2.21.2
Flask==3.1.3
fonttools==4.57.0
fqdn==1.5.1
frozendict==2.4.6
fsspec==2026.1.0
h11==0.16.0
h5py==3.13.0
hmmlearn==0.3.3
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
keras==3.9.2
kiwisolver==1.4.8
lark==1.3.1
lightgbm==4.6.0
locket==1.0.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.2.0
ml_dtypes==0.5.1
msgpack==1.1.2
multitasking==0.0.11
murmurhash==1.0.15
namex==0.0.8
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.2
notebook==7.5.3
notebook_shim==0.2.4
numpy==2.2.4
optree==0.15.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
patsy==1.0.1
peewee==3.17.9
pexpect==4.9.0
pillow==11.1.0
planetary-computer==1.0.0
platformdirs==4.3.7
preshed==3.0.12
prometheus_client==0.24.1
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.1
pyparsing==3.2.3
pystac==1.14.3
pystac-client==0.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==26.4.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.0.0
rpds-py==0.30.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Send2Trash==2.1.0
setuptools==80.9.0
six==1.17.0
smart_open==7.5.0
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
stack-data==0.6.3
statsmodels==0.14.5
tabulate==0.9.0
tblib==3.2.2
terminado==0.18.1
textblob==0.19.0
thinc==8.3.10
threadpoolctl==3.6.0
tinycss2==1.4.0
toolz==1.1.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.3.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.3
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.8
wrapt==2.0.1
xarray==2026.1.0
xgboost==3.0.0
yfinance==0.2.55
zict==3.0.0
gunicorn==20.1.0